---
version: 2
updates:

  # GitHub actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"

  # GitHub composite actions
  - package-ecosystem: "github-actions"
    directories:
      - "/.github/actions/bump-golang"
      - "/.github/workflows"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"