---
name: common build tasks
inputs:
  branch:
    description: 'What branch'
    required: true
  token:
    description: 'What github token'
    default: ${{ github.token }}

runs:
  using: "composite"
  steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ inputs.branch }}

    - name: Setup Git
      uses: elastic/apm-pipeline-library/.github/actions/setup-git@current

    - name: Install Updatecli in the runner
      uses: updatecli/updatecli-action@453502948b442d7b9a923de7b40cc7ce8628505c

    - name: Run Updatecli
      env:
        GITHUB_TOKEN: ${{ inputs.token }}
        BRANCH: ${{ inputs.branch }}
      run: updatecli apply --config ./.ci/bump-golang.yml
      shell: bash
