---
name: bump-golang-main

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 1-6'

permissions:
  contents: read

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/bump-golang
        with:
          branch: 'main'
          go-minor: '1.21'
          vaultUrl: ${{ secrets.VAULT_ADDR }}
          vaultRoleId: ${{ secrets.VAULT_ROLE_ID }}
          vaultSecretId: ${{ secrets.VAULT_SECRET_ID }}
