---
name: bump-golang-main

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 6'

permissions:
  pull-requests: write
  contents: write

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/bump-golang
        with:
          branch: 'main'
          go-minor: '1.20'
          token: ${{ github.token }}
