---
name: bump-golang-main

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 1-6'

permissions:
  contents: read

jobs:
  bump:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/bump-golang
        with:
          branch: 'main'
          # NOTE: when a new golang version please update me with 1.<go-version>
          go-minor: '1.25'
          command: '--experimental apply'
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
